<body class="text-center">
        <div style="margin: 20% auto; width: 50%;">
            <form ng-submit="login(username, password)">
                <p><label> Username</label> 
                <input type="text" ng-model="username" id="username" required autofocus></p> 
                <p><label >Password</label> 
                <input type="password" ng-model="password" id="password" required></p>
                <p><button type="submit">Log in</button></p>
                <div ng-if="!isAuthenticated">
                    <h2 style="color : red">Username/Password is wrong</h2>
                </div>
                <br><br>
                <h5 style="color : black">Hint username = darth and password = vader</h5>
            </form>
        </div>
    </body>